.idea/
venv/
tensorboard/
models/
long_experiment_results/
*pycache*
data/flickr8k/Flickr8kTestImages/
data/flickr8k/Flickr8kTrainImages/
data/flickr8k/Flickr8kValidationImages/
data/flickr8k/Images/
